- name: Deploy XYZ app on Kubernetes
  hosts: localhost
  connection: local
  vars:
    ansible_python_interpreter: /home/ubuntu/ansible-k8s-venv/bin/python
  tasks:
    - name: Create deployment
      kubernetes.core.k8s:
        state: present
        src: k8s/deployment.yaml

    - name: Create service
      kubernetes.core.k8s:
        state: present
        src: k8s/service.yaml
